/* Written by Sooin Lee during the class of Himedia Academy */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


*{box-sizing: border-box; font-family: 'Poppins', sans-serif;}
html, body{margin: 0; padding: 0;}
ul{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

#glass_fx{width: 100%; height: 100vh; position: relative; background:linear-gradient(to top, rgb(255, 242, 170), rgb(177, 211, 162)); overflow: hidden; text-align: center; }
#glass_fx h1 {color: rgba(255, 255, 255, 0.8); font-size: 40px; line-height: 300px; z-index: 1; font-weight: 200;}
#glass_fx .c_bg{position: absolute; width: 200%; height: 50vh; top:50%; left: 50%; transform: translate(-50%, -50%); background: rgba(255,255,255,0); filter:blur(80px);}

#glass_fx .w_line{position: absolute; top: 50%; left: 0; width: 100%; height: 1px; background: rgba(255,255,255,0.5); transform: translateY(-50%);}

#glass_fx .sns{position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);}
#glass_fx .sns ul{display: flex; justify-content: center; flex-wrap: wrap;}
#glass_fx .sns ul li{margin: 20px 10px;}

#glass_fx .sns ul li a{display: flex; justify-content: center; align-items: center; width: 80px; height: 80px; border-radius:8px; color:#fff; font-size: 36px;
  border:1px solid rgba(255,255,255,0.5);
  border-right:1px solid rgba(255,255,255,0.25);
  border-bottom:1px solid rgba(255,255,255,0.25);
  box-shadow: 4px 4px 30px rgba(0,0,0,0.15);
  backdrop-filter: blur(25px);  
  position: relative; overflow: hidden; transition: transform 1s;
}

#glass_fx .sns ul li:hover a{transform: translateY(-20%);}

#glass_fx .sns ul li a:before{content:""; position: absolute; top: 0; left: 0; width: 40px; height: 80px;background: rgba(255,255,255,0.4); transform: skew(45deg) translateX(200px); transition: transform 1s;}

#glass_fx .sns ul li:hover a:before{transform: skew(45deg) translateX(-200px);}

